<section class="dashboard">
  <div class="top">
    <div class="search-box">
      <form (submit)="searchByHoTen(searchQuery.value)">
        <i class="uil uil-search"></i>
        <input type="text" name="search" #searchQuery placeholder="Tìm kiếm theo Họ Và Tên..." />
        <button type="submit">Tìm kiếm</button>
      </form>
    </div>
  </div>
  <div class="dash-content">
    <div class="overview">
      <div class="title">
        <div class="title-container">
          <i class="uil uil-comment-dots"></i>
          <span class="text">Danh sách thông tin sinh viên</span>
        </div>
        <div>
          <a class="btn btn-outline-success" routerLinkActive="active" routerLink="/add">Thêm sinh viên</a>
        </div>

      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>MSSV</th>
            <th>Họ và tên</th>
            <th>Giới tính</th>
            <th>Ngày sinh</th>
            <th>Địa chỉ</th>
            <th>Số điện thoại</th>
            <th>Email</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sinhVien of SinhVienList">
            <td>{{ sinhVien.masv }}</td>
            <td>{{ sinhVien.hotensv }}</td>
            <td>{{ sinhVien.gioitinh }}</td>
            <td>{{ sinhVien.ngaysinh | date:'dd/MM/yyyy' }}</td>
            <td>{{ sinhVien.diachi }}</td>
            <td>{{ sinhVien.sodienthoai }}</td>
            <td>{{ sinhVien.email }}</td>
            <td>
              <button class="btn btn-primary" (click)="editSinhVien(sinhVien.masv)">Sửa</button>
              <button class="btn btn-danger ms-2" (click)="deleteSinhVien(sinhVien.masv)">Xóa</button>
            </td>
          </tr>
        </tbody>
      </table>
      <br />
    </div>
  </div>
</section>
