<section class="dashboard">
  <div class="top">
    <div class="search-box">
      <form method="get">
        <i class="uil uil-search"></i>
        <input type="text" name="search" placeholder="Tìm kiếm theo mssv..." />
      </form>
    </div>
  </div>
  <div class="dash-content">
    <div class="overview">
      <div class="title">
        <i class="uil uil-comment-dots"></i>
        <span class="text">Danh sách thông tin sinh viên</span>
      </div>

      <table class="table">
        <thead class="table-primary">
          <tr>
            <th>MSSV</th>
            <th>Họ và tên</th>
            <th>Giới tính</th>
            <th>Ngày sinh</th>
            <th>Địa chỉ</th>
            <th>Số điện thoại</th>
            <th>Email</th>
            <th style="text-align: center">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let SinhVien of SinhVienList">
            <td>{{SinhVien.masv}}</td>
            <td>{{SinhVien.hotensv}}</td>
            <td>{{SinhVien.gioitinh}}</td>
            <td>{{SinhVien.ngaysinh | date: 'dd/MM/yyyy'}}</td>
            <td>{{SinhVien.diachi}}</td>
            <td>{{SinhVien.sodienthoai}}</td>
            <td>{{SinhVien.email}}</td>
            <td style="text-align: center">
              <a class="btn btn-outline-primary" style="margin-right: 5px"
                >Sửa</a
              >
              <a
                onclick="return confirm('Bạn có muốn xoá sinh viên này không !');"
                class="btn btn-outline-danger"
                >Xóa</a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <br />
      <div style="float: right; margin-right: 25px">
        <a class="btn btn-outline-success" routerLinkActive="active" routerLink="/add">Thêm sinh viên</a>
      </div>
      <br />
      <br />
    </div>
  </div>
</section>
