<div style="margin-left: 220px">
  <div class="container mt-3">
    <br />
    <h1 style="text-align: center">Form thêm sinh viên</h1>
    <form action="#" method="post">
      <div class="mb-3 mt-3">
        <label for="masv">Mã sinh viên</label><br />
        <input
          type="text"
          name="masv"
          id="masv"
          class="form-control"
          required
          placeholder="Mời nhập mã sinh viên"
        />
      </div>
      <div class="mb-3 mt-3">
        <label for="hoten">Họ tên sinh viên</label>
        <input
          type="text"
          id="hoten"
          class="form-control"
          name="hoten"
          required
          placeholder="Mời nhập họ tên sinh viên"
        />
      </div>
      <div class="mb-3 mt-3">
        <label for="ngaysinh">Giới tính</label>
        <select id="gioiT" name="gioiT" class="form-control">
          <option value="Nam">Nam</option>
          <option value="Nữ">Nữ</option>
          <option value="Khác">Khác</option>
        </select>
      </div>
      <div class="mb-3 mt-3">
        <label for="ngaysinh">Ngày sinh</label>
        <input
          type="date"
          id="ngaysinh"
          class="form-control"
          name="ngaysinh"
          required
          placeholder="Mời nhập ngày sinh"
        />
      </div>
      <div class="mb-3 mt-3">
        <label for="diachi">Địa chỉ</label>
        <input
          type="text"
          id="diachi"
          class="form-control"
          name="diachi"
          required
          placeholder="Mời nhập địa chỉ"
        />
      </div>
      <div class="mb-3 mt-3">
        <label for="sdt">Số điện thoại</label>
        <input
          type="text"
          id="sdt"
          class="form-control"
          name="sdt"
          required
          placeholder="Mời nhập số điện thoại"
        />
      </div>
      <div class="mb-3 mt-3">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          class="form-control"
          name="email"
          required
          placeholder="Mời nhập email"
        />
      </div>
      <div class="mb-3 mt-3">
        <label for="makhoa">Mã khoa</label>
        <select id="makhoa" name="makhoa" class="form-control">
          <option></option>
        </select>
      </div>
      <button name="submit" class="btn btn-primary">Thêm sinh viên</button>
    </form>
  </div>
  <br />
</div>
