<div
  class="containerAdd"
  [ngClass]="{ 'sidebar-open-page-addStudent': QuanLyService.isSidebarOpen }"
>
  <div class="topAdd">
    <h3>Thêm sinh viên</h3>
  </div>
  <form (submit)="addStudent()">
    <div class="ingredientForm">
      <div>
        <label for="masv">Mã sinh viên</label><br />
        <input
          type="text"
          [(ngModel)]="newStudent.Masv"
          name="masv"
          id="masv"
          class="form-control"
          required
          placeholder="Nhập Mã sinh viên"
        />
      </div>
      <div>
        <label for="hoten">Họ tên sinh viên</label>
        <input
          type="text"
          id="hoten"
          class="form-control"
          [(ngModel)]="newStudent.Hotensv"
          name="hoten"
          required
          placeholder="Nhập Họ và tên"
        />
      </div>
    </div>

    <div class="ingredientForm">
      <div>
        <label for="gioiT">Giới tính</label>
        <select
          id="gioiT"
          name="gioiT"
          class="form-control"
          [(ngModel)]="newStudent.Gioitinh"
        >
          <option value="Nam">Nam</option>
          <option value="Nữ">Nữ</option>
          <option value="Khác">Khác</option>
        </select>
      </div>
      <div>
        <label for="ngaysinh">Ngày sinh</label>
        <input
          type="date"
          id="ngaysinh"
          class="form-control"
          name="ngaysinh"
          [(ngModel)]="newStudent.Ngaysinh"
          required
          placeholder="Nhập Ngày sinh"
        />
      </div>
    </div>

    <div class="ingredientForm">
      <div>
        <label for="diachi">Địa chỉ</label>
        <input
          type="text"
          id="diachi"
          class="form-control"
          name="diachi"
          [(ngModel)]="newStudent.Diachi"
          required
          placeholder="Nhập Địa chỉ"
        />
      </div>
      <div>
        <label for="sdt">Số điện thoại</label>
        <input
          type="text"
          id="sdt"
          class="form-control"
          name="sdt"
          [(ngModel)]="newStudent.Sodienthoai"
          required
          placeholder="Nhập Số điện thoại"
        />
      </div>
    </div>

    <div class="ingredientForm">
      <div>
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          class="form-control"
          name="email"
          [(ngModel)]="newStudent.Email"
          required
          placeholder="Nhập Địa chỉ Email"
        />
      </div>
      <div>
        <label for="makhoa">Mã khoa</label>
        <select
          id="makhoa"
          name="makhoa"
          class="form-control"
          [(ngModel)]="newStudent.Mak"
        >
          <option value="K01">Công nghệ thông tin</option>
          <option value="K02">Địa lý</option>
          <option value="K03">Hóa học</option>
          <option value="K04">Toán</option>
          <option value="K05">Ngữ văn</option>
        </select>
      </div>
    </div>
    <div class="bottomAdd">
      <button type="submit" name="submit">Thêm sinh viên</button>
    </div>
  </form>
</div>
