<nav style="width: 250px;">
    <div class="menu-items">
        <ul class="nav-links" style="margin-bottom: 250px;">
            <li>
                <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/">
                    <i class="uil uil-chat-info"></i>
                    <span class="link-name">Tiếp nhận</span>
                </a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/tableStudent">
                    <i class="uil uil-users-alt"></i>
                    <span class="link-name">Sinh viên</span>
                </a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/">
                    <i class="uil uil-book-reader"></i>
                    <span class="link-name">Giáo viên</span>
                </a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/">
                    <i class="uil uil-book-open"></i>
                    <span class="link-name">Môn học</span>
                </a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/">
                    <i class="uil uil-presentation-edit"></i>
                    <span class="link-name">Lớp học phần</span>
                </a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/">
                    <i class="uil uil-cog"></i>
                    <span class="link-name">Cấp phép</span>
                </a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/">
                    <i class="uil uil-user-plus" ></i>
                    <span class="link-name" >Tạo tài khoản</span>
                </a>
            </li>
        </ul>
            
        <ul class="logout-mode">
            <li>
                <a>
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Đăng xuất</span>
                </a>
            </li>
        </ul>
    </div>
</nav>


