nav{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}
